
{% extends "loginas/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{% block object-tools-items %}
{{ block.super }}
<li><a href="https://store.blender.org/bid-refresh.php?blenderid={{ original.email|urlencode }}" target="_blank">{% trans "Refresh from Store" %}</a></a></li>
<li><a href="https://store.blender.org/wp-admin/users.php?s={{ original.email|urlencode }}" target="_blank">{% trans "Find in Store" %}</a></a></li>
<li><a href="https://cloud.blender.org/u/?q={{ original.email|urlencode }}&amp;page=0" target="_blank">{% trans "Find in Cloud" %}</a></a></li>
<li><a href="https://fund.blender.org/admin/auth/user/?q={{ original.email|urlencode }}" target="_blank">{% trans "Find in Blender Fund" %}</a></a></li>{% endblock %}
{% block after_field_sets %}
{% if perms.change_oauth2accesstoken %}
<fieldset class="module aligned">
  <h2>Access Tokens</h2>
  <p>View this user's <a href="{% url 'admin:bid_main_oauth2accesstoken_changelist' %}?user={{ original.id }}">access tokens</a></p>
</fieldset>{% endif %}
{% endblock %}