
{% extends 'layout.html' %}
{% block page_title %}About KDE Identity{% endblock %}
{% block body %}
{% block before_about_bid %}{% endblock %}
<div class="bid box about">
    {% if user.is_authenticated %}
    <h1>One Account, Everything Blender</h1>
    <hr/>
    {% endif %}
    <h3>What is the KDE Identity?</h3>
    <p>
      The KDE Identity is a unified login system that will give you in the future access to
      a large number of services around KDE.

      <!-- 
      With just one account you can set up a <a href="https://cloud.blender.org">Blender Cloud</a> subscription,
      manage your professional profile on <a href="https://www.blendernetwork.org">Blender Network</a>,
      your BFCT application, <a href="https://www.blender.org/conference/">Blender Conference</a> talks,
      your purchases on the <a href="https://store.blender.org">Blender Store</a>. -->
    </p>
    <!-- <p>
      You can also authenticate within Blender via the KDE Identity add-on,
      and log in authorized third-party websites and much more.
    </p> -->
    <h3>Technical Assistance</h3>
    <p>
      For any issue or request regarding your KDE Identity account, such as merging accounts or fixing an
      invalid email address, get in touch with sysadmin at kde.org. We will help you right away!
    </p>
</div>{% block after_about_bid %}{% endblock %}
{% endblock %}
