
{% extends 'layout.html' %}
{% load avatar %}
{% block page_title %}Switch KDE Identity user{% endblock %}
{% block body %}
<div class="bid box"><small>You are currently logged in as</small>
  <div class="bid-user"><a href="{% url 'bid_main:index' %}">{% avatar %}</a>
    <div class="bid-user-info">{% if user.full_name %}<a href="{% url 'bid_main:index' %}">
        <h3>{{ user.full_name }}</h3></a>
      <p>{{ user.email }}</p>{% else %}
      <h3><a class="danger" href="{% url 'bid_main:profile' %}">Please specify your full name</a></h3>
      <p>{{ user.email }}</p>{% endif %}
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Login as someone else</h2><br/>
      <form role="login" action="" method="POST" name="login_user_form">{% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <fieldset>
          <!-- Email input-->
          <div class="input-group">{{ form.username }}</div>
          <!-- Password input-->
          <div class="input-group">{{ form.password }}</div>{% if form.errors %}
          <p class="text-danger">Your username and password didn't match. Please try again.</p>
          <p><a href="{% url 'bid_main:password_reset' %}">Lost your password?</a></p>{% endif %}
          <div class="bid-cta">
            <button class="btn-success" id="register">Sign in</button>
          </div>
        </fieldset>
      </form>
      <hr/>
      <div class="bid-links"><a href="{% url 'bid_main:register' %}">Create a new account</a><a href="{% url 'bid_main:password_reset' %}">Recover password</a></div>
    </div>
  </div>
</div>{% endblock %}