
{% extends "email_layout.html" %}
{% block body %}
<p>Congrats!</p>
<p>You now have your own KDE Identity.</p>
<p>Before you can log in, you have to choose a password at:</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'bid_main:register-confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'bid_main:register-confirm' uidb64=uid token=token %}</a></p>
<p>
  Use this email address ({{ user.email }}) to log in to any KDE Identity enabled website
  such as Blender Cloud, Blender Network, Blender Store, etc.
  
</p>
<p>Check your dashboard at <a href="https://id.blender.org/">id.blender.org</a> for more information.
</p>
<p>The Blender Web Team</p>{% endblock %}