
{% extends 'layout.html' %}
{% load trans from i18n %}
{% block page_title %}Registration{% endblock %}
{% block body %}
<div class="bid box">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">{% if validlink %}
      <h1>Choose Your Password</h1>
      <p>
        Please enter your new password twice so we can verify you typed it in correctly
        
      </p>
      <form method="POST">{% csrf_token %}
        <fieldset>
          <div class="row">
            <div class="col-md-12">
              <!-- new_password1 input-->
              <label class="control-label" for="{{ form.new_password1.id_for_label }}">Password</label>{{ form.new_password1 }}
              {{ form.new_password1.errors }}
              <!-- new_password2 input-->
              <label class="control-label" for="{{ form.new_password2.id_for_label }}">Confirm Password</label>{{ form.new_password2 }}
              {{ form.new_password2.errors }}
              <div class="bid-cta">
                <button class="btn btn-success" id="setpassword">Set Password</button><a class="btn" href="{% url 'bid_main:login' %}">Cancel</a>
              </div>
            </div>
          </div>
        </fieldset>
      </form>{% else %}
      <h1>Invalid Link</h1>
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>{% endif %}
    </div>
  </div>
</div>{% endblock %}