
{% extends 'layout.html' %}
{% load trans from i18n %}
{% load static %}
{% block page_title %}Registration{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-push-2">
      <div class="box">
        <h2>Registration complete!</h2>
        <p>You have succesfully registered and provided a password. You can now <a href="{{ login_url }}")>log in</a>.</p>
        <p>Welcome to KDE Identity!</p>
      </div>
    </div>
  </div>
</div>{% endblock %}