
{% extends "oauth2_provider/base.html" %}
{% load i18n %}
{% block page_title %}Authorize Application{% endblock %}
{% block content %}
<div class="bid box">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Connect Your KDE Identity</h1>
      <hr/>{% if not error %}
      <form id="authorizationForm" method="post">
        <h3>{% trans "Authorize" %} {{ application.name }}?</h3>
        {% csrf_token %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <div class="row">
          <p>{% trans "The application would obtain your following information:" %}</p>
          <div class="col-md-10 col-md-offset-1">{% if 'email' in scopes %}
              <ul class="text-left">
              <li>Full Name</li>
              <li>Email Address</li>
              <li>Nickname</li>
            </ul>{% endif %}
            {% if 'badge' in scopes %}
            <ul class="text-left">
              <li>Your Badges</li>
            </ul>{% endif %}
          </div>
        </div>{{ form.errors }}
        {{ form.non_field_errors }}
        <hr/>
        <div class="bid-cta">
          <button class="btn btn-primary" type="submit" name="allow" value="true">Yes, Authorize</button><a class="btn" href="{% url 'bid_main:index' %}">Cancel</a>
        </div>
      </form>{% else %}
      <h2>Error: {{ error.error }}</h2>
      <p>{{ error.description }}</p>{% endif %}
    </div>
  </div>
</div>{% endblock %}
