
{% extends 'bid_main/confirm_email/base.html' %}
{% block confirm_email_body %}
    {% block confirm_email_above_form %}{% endblock %}
<p class="text-primary">
  Is your address {{ user.email_to_confirm }}?
  
</p>
<form action="{% url 'bid_main:confirm-email' %}" method="POST">
  {% csrf_token %}
  {{ form.next_url }}
  {{ form.next_name }}
  <div class="bid-cta"><a class="btn" href="javascript:cancel()">
      {% if user.email_change_preconfirm %}
      Cancel Email Change
      {% else %}
      Edit address
      {% endif %}</a>
    <button class="btn btn-success" type="submit">Yes that is correct</button>
  </div>
</form>
<form id="cancel_email_change" action="{% url 'bid_main:cancel-email-change' %}" method="POST">{% csrf_token %}</form>{% endblock %}
{% block footer_scripts %}
<script>
  function cancel() {
  	{% if user.email_change_preconfirm %}
  	$('#cancel_email_change').submit();
  	{% else %}
  	window.location = "{% url 'bid_main:index' %}";
  	{% endif %}
  }
</script>{% endblock %}